

.image{

   
     height: 700px ;
    width: 100%;
    margin-right: .1%;
    background: url("https://th.bing.com/th/id/R.9d9362adbae44d9b9b570c96abe60791?rik=se3NLMT5WORE6A&riu=http%3a%2f%2fallpicts.in%2fdownload%2f7642%2f2016%2f03%2fAirplane_Images_with_Beautiful_Picture_of_Flight_in_Sunset-1920x1080.jpg&ehk=ecuN%2bFn6gW9zktuigZvcNIKbOGRRijbTIjDXd5TdPso%3d&risl=&pid=ImgRaw&r=0");
    background-repeat: none;
    background-size: cover;
  
 
    }


.Navbar{
    background-color: black!important;
    
}


.Flight{
    font-family: "Roboto",sans-serif;
    font-size: 18px;
    font-weight: bold;
width: 160px;
padding: 5px;
text-align: center;
text-decoration: none;
border-radius: 5px;
cursor: pointer;
margin-top: 200px;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
/* -webkit-transition-duration: 0.3s;
webkit-transition-property: box-shadow,transform; */
}
.book:hover:hover,.book:hover,.book:active{
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}





.Flight{
    /* font-family: "Roboto",sans-serif; */
    font-size: 18px
;font-weight: bold;
width: 160px;
padding: 5px;
text-align: center;
text-decoration: none;
border-radius: 88px;
position: relative;
/* bottom: 100%; */
margin-right: 90%;
left: 10%;
/* top: 40%; */
cursor: pointer;

box-shadow: 0 0 10px rgba(0,0,0,0.1);
-webkit-transition-duration: 0.3s;
-webkit-transition-property: box-shadow,transform;
}
.Flight:hover,.Flight:hover,.Flight:active{
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.text{
    width: 50%;
    height: 100;
    font-style: italic;
    font-style: bold;
    /* text-align: left; */
    position: relative;
    top:100px;
    font-size: 49px;
 padding-top: 50px;
  padding-right: 30px;
  color: blue;
  

}


