.reg3{
    background: url("https://uploads.mudspike.com/original/3X/3/7/378a2922dc4b4051c10fc57836ffe285e2260ede.jpeg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-position: center;
}
/* #form{
    background-color: black;
    height: 500px;
    width: 700px;
    margin: auto;
    padding: 20px;
} */