/* 
.image2{
    background-image:url("https://i.pinimg.com/originals/c8/69/16/c8691651b39835cdabfac5605b786bb6.png");
    background-attachment: fixed;

    

}
.table{
    border: none;
}
.border{
    border: none;
    border-bottom: none; */
    
/* } */
/* .btn{

    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding: 20px 50px;
    font-size: 1.25rem;
    position: relative;
    margin: 32px;
    background: black ;
    color:white;
    transform: transform 0.3s ease;
    
}
.btn ::after,btn::before{
    content:"";
    position: absolute;

} */

.tabledes{
    border: 2px solid black;
    width: 100%;

}
.tabledes tr td {
    border: 2px solid black;

}
.tabledes tr th {
    border: 2px solid black;

}
